*, *::before , *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: rgb(10,12,27);
}

.flyer {
    margin: 10rem 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 50vw;
    display: flex;
    background-color: rgb(28,25,56);
    color: white;
    font-family: poppins;
}

.text {
    flex-basis: 50%;
    padding: 5rem;
}

.image {
    flex-basis: 50%;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
}

.text h3 {
    font-size: 2rem;
    line-height: 1.25;
    margin-bottom: 1em;
}

span {
    color: rgb(144,79,180);
}

.text > p {
    font-size: 1.2rem;
    margin-bottom: 4em;
}

.text p {
    font-weight: 200;
}

.stats {
    display: flex;
    justify-content: space-between;
}

.stat-text h4 {
   font-size: 1.6rem; 
}

@media (max-width: 500px) {
    .flyer {
        width: 60vw;
        flex-direction: column-reverse;
    }
    .text {
        text-align: center;
        flex-basis: 65%;  
    }
    .image {
        flex-basis: 35%;
    }
}